.div-right {
    text-align: right;
    margin: 0px auto 0px auto;
}

/* ---------------- nav ---------------- */
nav {
    height: 80px;
}

nav ul {
    float: right;
    margin-right: 25px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 0;
    color: rgb(52, 59, 52)
}

nav ul li a:before {
    position: relative;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: rgb(52, 59, 52);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}

label #btn,
label #cancel {
    color: #000;
    font-size: 25px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    float: right;
    display: none;
}

.space {
    height: 350px;
    display: none;
    /* background-color: #000; */
}

#check {
    display: none;
}

@media (max-width: 944px) {
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 860px) {

    label #btn {
        display: block;
    }

    nav {
        background-color: rgb(215, 224, 215);
        transition: all .5s;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 60vh;
        background-color: rgb(215, 224, 215);
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 16px;
    }

    #check:checked~ul {
        left: 0;
    }

    #check:checked~label #btn {
        display: none;
    }

    #check:checked~label #cancel {
        display: block;
    }

    #check:checked~label #space{
        height: 350px;
        display: block;
        background-color: #000;
    }
}