@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://use.typekit.net/yhg2noc.css");

:root {
  --font-base: "garamond-premier-pro-caption", serif;

  --primary-color: #edf2f8;
  --secondary-color: #343e3a;
  --green-color: #9FB9AD;
  --lightGreen-color: #d5deda;
  --darkGreen-color: #778981;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}